<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139618013972-r1v12q85crq9892k6j2tr6h01hgscppd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139618013972-r1v12q85crq9892k6j2tr6h01hgscppd</string>
	<key>API_KEY</key>
	<string>AIzaSyDNYLpE0IrNaQc5QcBTuQOohDrarKY2ao0</string>
	<key>GCM_SENDER_ID</key>
	<string>139618013972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApplicationWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>zoto-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>zoto-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139618013972:ios:1bb8dbe01c82a772d6a801</string>
</dict>
</plist>